@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;400&display=swap');

:root {
    --cor-principal: #092635;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #9EC8B9;
    --cor-hover: #1B4242;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-paragrafo: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;/*  Colocar o body do tamanho da tela do dispositivo (legal ser padrão) */
    box-sizing: border-box; /* Mantém todo o conteudo da pagina, dentro dela (legal ser padrão) */
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

.destaque_titulo {
    color: var(--cor-terciaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    padding: 4% 15%;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-paragrafo);
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.5rem;
    font-family: var(--fonte-paragrafo);
}

.apresentacao__conteudo__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__conteudo__links__botoes {
    /* background-color: var(--cor-terciaria); */
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--fonte-paragrafo);
    position: relative;
}

.apresentacao__conteudo__links__botoes:hover {
    background-color: var(--cor-hover);
    transition: 0.7s;
}

.apresentacao__conteudo__links__subtitulo {
    font-family: var(--fonte-paragrafo);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__conteudo__links__instagram {
    width: 32px;
    height: 32px;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    display: flex;
    margin-top: auto;
    justify-content: center;
    gap: 10px;
    background-color: var(--cor-terciaria);
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--cor-principal);
    padding: 23.64px 0;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

@media (max-width: 1348px) {
    
    .cabecalho {
        padding: 6%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__conteudo__links__botoes {
        padding: 1.5rem 3rem;
    }

    .apresentacao__imagem {
        width: auto;
    }
}